<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.excilys.formation.gwt.teaser.server.RegisterServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/gwtteaser/register</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GwtTeaser.html</welcome-file>
  </welcome-file-list>

</web-app>
